.box{
    width: 1200px;
    height: 1000px;
    background-color: #FFFFFF;
    font-size: 14px; 
    font-family: "微软雅黑";
    position: relative;
}
.box2{
    height:500px;
    width: 1000px;
    margin: 0px auto;
}
.box1{
    margin: 0px auto;
    width: 940px;
    height: 400px;
    line-height: 30px;
    padding: 0px 30px 0px;
}
.h2{
    padding-top: 30px;
}
.p1{
    padding-left: 100px;
    padding-bottom: 20px;
}
.box2_1{
    width: 1000px;
}
.content1{
    width: 400px;
    height: 200px;
    float: left;
    position: relative;
    left: 30px;
    top: 30px;
}
.text{
    line-height: 40px;
}
.img1{
    position: absolute;
    right: 30px;
    top: 25px;
    
}
.img1 img{
    border-radius: 50%;
    box-shadow: 5px 0px 5px #335555;
}
.content2{
    width: 400px;
    height: 200px;
    float: right;
    position: relative;
    right: 30px;
    top: 30px;
}

.p2{
    margin-top: 30px;
}
.box h2{
    padding-top: 50px ;
    padding-bottom: 30px;
}